@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

a:visited, a:link{
    color:#797979;
}

.header {
    border:solid;
    border-color: #8F8F8F;
    background-color: #F1F3F4;
}
.tabs {
    border-width:0px;
    display:flex;
    margin-left:180px;
    margin-top: 20px;
}

.function {
    border-width:5px;
    border-style:solid;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color:transparent;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 5px;
}

#currentPage{
    border-bottom-color: #3B45A3;
}

.inputTable{
    width: 1000px;
    height: 450px;
    margin:auto;
    margin-top: 30px;
    border-radius: 10px;
    background-color: white;
}

.inputTitle{
    margin-bottom: 10px;
}

tr {
    display:flex;
    margin-top: 30px;
    margin-left: 30px;
}

td {
    margin-right: 100px;
}

input[type="text"], input[type="number"] {
    height: 35px;
    width: 400px;
    background-color: F1F3F4;
    border-color: transparent;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 14px;
}

.actions{
    margin-top: 80px;
    display: flex;
    float: right;
    margin-right: 70px;
}

input[type="submit"] {
   
    width: 100px;
}
input[type="button"] {
    margin-right: 70px;
    width: 100px;
}

.btn btn-info {
    color: green;
}

  .search-container input[type=text] {
    padding: 5px;
    padding-left: 10px;
    background-color: white;
    border-style: solid;
    width: 80%;
    height: auto;
    border-radius: 10px 0px 0px 0px;
  }
  
  .search-container button {
    padding: 5px;
    margin: none;
    margin-left: 40px;
    border: transparent;
    cursor: pointer;
    width: 100px;
    background-color: #D9D9D9;
    border-radius: 3px;
  }
  
  .search-container button:hover {
    background: #ccc;
  }

  .table-search {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
  }

  .table-search th {
    border-collapse: collapse;
    width: 100%;
  }

  .table-search tr:nth-child(even) {background-color: #F2F3F8;}

  .table-search button{
    background-color: #93C47D;
    width: 100%;
    padding: 5px;
    margin: none;
    border: none;
    margin-left: 40px;
    color: white;
    cursor: pointer;
  }